<html>
<body>

<style>
body {background-image:url('../static/hmong_play.jpg');background-size:100% 100%;width:50%;}  
#about_text{background-color: #ffffff;border-radius: 6px;opacity:.9;margin-left:1px;}
</style>
<div id='about_text'>
<h1>About</h1>

This game/interactive animation was created as a Creative Expressions Assignment in response to the book <u>The Spirit Catches You and You Fall Down</u> by Anne Fadiman at Stony Brook Univeristy. The novel talks about many traditions and beliefs of the Hmong people. One of the beliefs which I found particularly interesting was that spirits of people return to their placenta once they pass away. This ended up being the main point of my game - to get a soul back to it's placenta. 


<h2>Source</h2>
Source code is available <a href='https://github.com/kingofirony/TheSpiritCatchesYou'>here</a>.

<h2>Image Sources</h2>
 <a href='http://ahdnews.com/thumbnail.php?file=220px_Snow_on_the_mountains_of_Southern_California_227378435.jpg&size=article_medium'>Snow Background</a>
<br> <a href='http://foundwalls.com/wallpapers/2012/06/sea-ocean-wave-beach-sand-clouds-1800x2880.jpg'>Beach Background</a>
<br> <a href='http://www.8580.com/uploadfile/2013/0411/20130411061238844.jpg'>Mountains Background</a>
<br> <a href='http://fs7.motosport.com/is/image/Motosport/PKR-OL2-_is?$product_large_1000$'>Leather Jacket</a>
<br> <a href='http://jolle.se/imgs/island11.jpg'>Island Background</a>
<br> <a href='http://www.umabroad.umn.edu/assets/images/photoContest/postcard/Justin_Schell-SchellPhoto.JPG'>Hmong Boy Playing Qeej</a>
<br> <a href='http://3.bp.blogspot.com/_AzvsuUf-VtQ/S8iQnrNuXOI/AAAAAAAAACE/EY9L0_MejAU/s1600/MISC.DHDB2007+023.jpg'>Field Background</a>
<br> <a href='http://www.umabroad.umn.edu/assets/images/photoContest/postcard/Justin_Schell-SchellPhoto.JPG'>Hmong Boy Playing Qeej</a>
<br> <a href='http://www.wallpapersma.com/wallpapers/2013/01/Landscapes-Nature-Desert-Oasis-1536x2048.jpg'>Desert Background</a>

<h2>Music</h2>
The music is Hmong Music made on the qeej. It is available in a zip file <a href='http://projects.bygph.com/qeejSongs.zip'> here</a>.<br><br>
<h2>About Me</h2>
My name is Peter Jasko.<br> <br>
Email me at peter.jasko@stonybrook.edu. <br><br>

</div>
</body>
<html>
